venv/
__pycache__/
*.pyc
db.sqlite3
.env
/media/
myproject/settings.py



# Python environment
.venv/
env/

# Python compiled files
__pycache__/
*.py[cod]
*$py.class

*.pyc
*.pyo

# IDE and Editor settings (VS Code, etc)
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Project specific
test_images/  # (Optional: ignore if these are large or private)
*.log

# Database dumps
*.sql
*.sql.gz

# Local database storage
#mysql_data/




# Twilio Configuration

TWILIO_ACCOUNT_SID = os.getenv("TWILIO_ACCOUNT_SID")
TWILIO_AUTH_TOKEN = os.getenv("TWILIO_AUTH_TOKEN")
TWILIO_PHONE_NUMBER = os.getenv("TWILIO_PHONE_NUMBER")


# Ignore generated static files
staticfiles/

# Ignore test media and local documents
core/test_images/
core/DISHA G Certificate.pdf




