<!DOCTYPE html>
<html>
<head>
    <title>{% if prescription %}Edit{% else %}Add{% endif %} Prescription</title>
</head>

<body>

<h2>{% if prescription %}Edit{% else %}Add{% endif %} Prescription</h2>

{% if error %}
    <p style="color:red;">{{ error }}</p>
{% endif %}

<form method="POST">
{% csrf_token %}
<textarea name="medicines" placeholder="Enter medicines" required>{% if prescription %}{{ prescription.medicines }}{% endif %}</textarea><br>
<textarea name="notes" placeholder="Enter notes" required>{% if prescription %}{{ prescription.notes }}{% endif %}</textarea><br>
<button type="submit">Save</button>
</form>

</body>
</html>
