<!DOCTYPE html>
<html>
<head>
    <title>Doctor Dashboard</title>
</head>

<body>

<h2>👨‍⚕️ Doctor Dashboard</h2>

<hr>

<!-- 🔍 SEARCH SECTION -->
<h3>Search Patient</h3>
<!form method="POST">
{% csrf_token %}
<!input name="search" placeholder="Enter ID" required>
<!button type="submit">Search</button>
<!/form>


<form method="GET">
    <input type="text" name="search" value="{{ search }}" placeholder="Enter ID or Code">
    <button type="submit">Search</button>
</form>

<hr>

<!-- 📷 QUICK ACTIONS -->
<h3>Quick Actions</h3>

<a href="/scan/">
    <button>📷 Scan QR</button>
</a>

<a href="/logout/">
    <button>🚪 Logout</button>
</a>



<h2>QR Code:</h2>
<img src="{{ patient.qr_code.url }}">

<hr>

<!-- 🧾 PATIENT DETAILS -->
{% if patient %}

<h3>Patient Details</h3>

<p><b>Name:</b> {{ patient.name }}</p>
<p><b>Blood Group:</b> {{ patient.blood_group }}</p>
<p><b>Phone:</b> {{ patient.phone }}</p>
<p><b>Allergies:</b> {{ patient.allergies }}</p>

<hr>

<!-- 💊 ACTIONS FOR THIS PATIENT -->
<h3>Actions</h3>

<a href="/add-prescription/{{ patient.patient_id }}/">
    <button>💊 Add Prescription</button>
</a>


    <p>DEBUG Patient ID: {{ patient.patient_id }}</p>


<a href="{% url 'view_prescriptions' patient.patient_id %}">
    <button>📄 View Prescriptions</button>
</a>

{% endif %}

</body>
</html>