<h2>Patient Form</h2>

<form method="POST">
{% csrf_token %}

<input name="aadhaar" placeholder="Aadhaar last 4 digits"><br>
<input name="age" placeholder="Age"><br>
<input name="gender" placeholder="Gender"><br>
<input name="phone" placeholder="Phone"><br>
<input name="blood_group" placeholder="Blood Group"><br>
<input name="allergies" placeholder="Allergies"><br>
<input name="emergency_contact" placeholder="Emergency Contact"><br>

<button type="submit">Submit</button>
</form>

{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}