<!DOCTYPE html>
<html>
<head>
    <title>Scan QR</title>
</head>

<body>

<h2>Scan Patient QR</h2>

<div id="reader" style="width:300px;"></div>

<div id="result"></div>

<script src="https://unpkg.com/html5-qrcode"></script>

<script>
function onScanSuccess(qrCodeMessage) {

    console.log("QR DATA:", qrCodeMessage);

    try {
        // 🔥 Parse JSON QR
        let data = JSON.parse(qrCodeMessage);

        // ✅ Show OFFLINE data
        document.getElementById("result").innerHTML = `
            <h3>Basic Info (Offline)</h3>
            Name: ${data.name}<br>
            Blood Group: ${data.blood_group}<br>
            Allergies: ${data.allergies}<br>
            Emergency: ${data.emergency_contact}
            <hr>
        `;

        // ✅ Fetch FULL data from backend
        fetch(`/get-patient/${data.id}/`)
        .then(res => res.json())
        .then(full => {
            document.getElementById("result").innerHTML += `
                <h3>Full Details (Online)</h3>
                Phone: ${full.phone}<br>
            `;
        });

    } catch (error) {
        // ❌ If QR is old format
        document.getElementById("result").innerHTML =
            "<p style='color:red;'>Invalid QR format</p>";
    }
}

let html5QrcodeScanner = new Html5QrcodeScanner(
    "reader",
    { fps: 10, qrbox: 250 }
);

html5QrcodeScanner.render(onScanSuccess);
</script>

</body>
</html>